body {
  display: flex;
  overflow: hidden;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

img:not(.iconE, .iconB, .iconG) {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

.iconG {
  display: none;
}


#news-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  width: 30%;
}


#listado-noticias {
  height: 900px;
  width: 80%;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

#tabla th,
#tabla td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  white-space: normal;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 1;
}

.iconB,
.iconG,
.iconE {
  width: 75px;
  height: 75px;
}



form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

label {
  margin-bottom: 5px;
}

input,
select,
textarea,
button {
  margin-bottom: 10px;
  padding: 5px;
}

textarea {
  padding: 50px;
}

.buttons {
  margin-top: 15px;
}

a{
  display: flex;
}

/* web */
#noticia-container {
  width: 100vw;
  height: 100vh;
  background-color: #00ff4c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}

#contenido {
  /* display: flex;
  justify-content: center; */
  font-size: 30px;
}

#infoDiv {
  position: fixed;
  bottom: 10px;
  right: 10px;
  
  padding: 10px;
  border: 1px solid #ccc;
}